body {
  background-color: #2b3ff0;
  margin: 0;
  font-family: Arial;
}
#header {
  width: 100%;
  margin: 0;
  border: 2px solid black;
  border-right: 0;
  border-left: 0;
  background-color: #7482fc;
  z-index: 5;
}
#header h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 350%;
  font-weight: 700;
}
#menu {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
#around {
  border-right: 2px solid black;
  border-left: 2px solid black;
  width: 60%;
  margin: 0 auto;
  background-color: #babee3;
  padding-bottom: 10px;
  z-index: 5;
}
.links {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-top: 0;
  border-bottom: 0;
  margin: 0 auto;
}
.links:hover {
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-top: 0;
  border-bottom: 0;
  margin: 0 auto;
  background-color: #7482fc;
}
#blog {
  width: 80%;
  margin: 0 auto;
}
.paragraphs {
  margin: 0 auto;
}
h1 {
  text-align: center;
  font-size: 300%;
  margin-top: 20px;
  margin-bottom: 20px;
}
p {
  text-align: center;
  font-size: 115%;
}
#im1 {
  bottom: 500px;
  left: 60px;
  position: absolute;
  margin: 0;
  padding: 0;
  box-shadow: 10px 10px;
}
#im2 {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 1530px;
  box-shadow: 10px 10px;
}
h3 {
  color: black;
}
a {
  text-decoration: none;
}
#paragraph1 {
  float: left;
}
#paragraph2 {
  float: right;
}
.container {
  display: inline-block;
  cursor: pointer;
  float: right;
  display: inline-block;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
