<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            height: 100vh;
        }
    </style>
</head>
<body>
    <canvas id="canvas" style="display: block"></canvas>
</body>
<script>
    var canvas = document.getElementById('canvas')
    var c = canvas.getContext('2d')
    var body = document.querySelector('body')
    var player = {
        x: 0,
        y: 0,
        w: 10,
        h: 30,
        color: "blue"
    }
    
    function resize() {
        canvas.setAttribute('height', body.offsetHeight)
        canvas.setAttribute('width', body.offsetWidth)
    }
    resize()

    window.addEventListener('resize', () => {
        resize()
    })
    
    c.fillRect(player.x, player.y, player.w, player.h)
    window.addEventListener('mousemove', (e) => {
        c.clearRect(player.x, player.y, player.w, player.h)
        c.fillRect(e.clientX, e.clientY, 10, 10)
        console.log(e)
    })
    console.log(c)

</script>
</html>