<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    <div id="roomlist" style="border: 1px solid black">
        <div onclick="currentRoom='General'; console.log(currentRoom)" id="General">General</div>
    </div>
    <div id="msgBox" style="border: 1px solid black"></div>

    <textarea id="text"></textarea>
    <button id="btn">Send</button>
</body>
<script>
    var text = document.getElementById('text')
    var btn = document.getElementById('btn')
    var messageBox = document.getElementById('msgBox')
    var roomlist = document.getElementById('roomlist')
    var socket = io()
    var currentRoom = 'General'
    var myRooms = []
    var currentUser = '<%=user%>'

    socket.on('text', (text, user) => {
        console.log(text)
        var p = document.createElement('p')
        messageBox.appendChild(p).innerText = `${user}: ${text}`
    })

    function printRooms() {
        socket.on('roomList', (list) => {
            myRooms = list
            myRooms.forEach(room => {
                var div = document.createElement('div')
                div.setAttribute("onclick", `currentRoom='${room}'; console.log(currentRoom)`)
                div.setAttribute("id", `${room}`)
                div.innerText = `${room}`
                roomlist.appendChild(div)
            })
        })
    }

    btn.addEventListener('click', function () {
        if (slashcommand()) {
            var command = text.value.split(" ")
            if (command[0] == "/join") {
                socket.emit('joinRoom', command[1])
                currentRoom = command[1]
                roomlist.innerHTML = ''
                printRooms()
            } else if (command[0] == "/leave") {
                if (command[1] != "General") {
                    socket.emit('leaveRoom', command[1])
                    currentRoom = myRooms[myRooms.indexOf(command[1]) - 1]
                    myRooms.splice(myRooms.indexOf(command[1], 1))
                    roomlist.innerHTML = ''
                    printRooms()
                }
            }
        } else {
            socket.emit('message', text.value, currentRoom, currentUser)
        }
        text.value = ''
    })


    function slashcommand() {
        if (text.value.includes('/')) {
            return true
        } else {
            return false
        }
    }
</script>

</html>