<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="socket.io/socket.io.js"></script>
</head>

<body>
    <div id="roomlist" style="border: 1px solid black">
        <div onclick="room='General'" id="General">General</div>
    </div>
    <div id="msgBox" style="border: 1px solid black"></div>

    <textarea id="text"></textarea>
    <button id="btn">Send</button>
</body>
<script>
    var text = document.getElementById('text')
    var btn = document.getElementById('btn')
    var messageBox = document.getElementById('msgBox')
    var roomlist = document.getElementById('roomlist')
    var socket = io()
    var currentRoom = 'General'
    var myRooms = ['General']
    var currentUser = '<%=user%>'
    
    socket.on('text', (text, user) => {
        console.log(text)
        var p = document.createElement('p')
        messageBox.appendChild(p).innerText = `${user}: ${text}`
    })

    
    
    btn.addEventListener('click', async function() {
        if (slashcommand()) {
            var command = text.value.split(" ")
            if (command[0] == "/join") {
                socket.emit('joinRoom', command[1])
                currentRoom = command[1]
                myRooms.push(command[1])
                console.log(myRooms)
                roomlist.innerHTML = ''
                myRooms.forEach(room => {
                    var div = document.createElement('div')
                    div.setAttribute("onclick", `room='${room}'`)
                    div.setAttribute("id", `${room}`)
                    div.innerText = `${room}`
                    roomlist.appendChild(div)
                })
            }
        } else {
            socket.emit('message', text.value, currentRoom, currentUser)
        }
        console.log(currentRoom)
    })


    function slashcommand() {
        if (text.value.includes('/')) {
            return true
        } else {
            return false
        }
    }
</script>

</html>