<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conversation</title>
</head>
<body>
    <% conversation.forEach((conversation) => { %>
        <p><%= conversation.date %>: <%= conversation.content %></p>
    <% }) %>
</body>
</html>