<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PogBank</title>
</head>
<body>
    <h1>Fill Out this form to add pog</h1>
    <form action="/" method="post">
        <input type="text" name="nameIn" id="name">
        <input type="text" name="numberIn" id="number">
        <input type="button" name="submitNow" id="submit">
    </form>
</body>
</html>